---
---

@import "{{ site.theme }}";

header {
  display: none;
}
.sidebar {
  padding-top: 0; /* Ensure no extra padding at the top */
  margin-top: 0;  /* Ensure no extra margin */
  position: relative; /* Makes sure it aligns to the top properly */
}

<style>

.gh-head-actions {
	gap: 1em;
}
.social-media-icon svg {
	width: 1.8em;
	fill: black;
}

h1 {
line-height: 1;
margin: 0;
}
</style>
