@import "fonts"; 
@import "rouge-github";
@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e; /* Dark mode background */
    color: #ffffff; /* Dark mode text */
  }

  h1, h2, h3, h4, h5, h6 {
    color: #f5f5f5; /* Adjust heading colors for dark mode */
  }

  h2 {
    color: #d3d3d3;
  }

  h3, h4, h5, h6 {
    color: #c9c9c9;
  }

  a {
    color: #4da6ff; /* Link color for dark mode */
  }

  a:hover, a:focus {
    color: #3399ff;
    font-weight: bold;
  }

  blockquote {
    border-left: 1px solid #444;
    color: #ccc;
  }

  pre {
    background: #2c2c2c; /* Dark mode for code blocks */
    color: #ddd;
  }

  header {
    background-color: #2c2c2c; /* Dark mode for header */
    color: #fff;
  }

  header::-webkit-scrollbar {
    background-color: #2c2c2c; /* Scrollbar background in dark mode */
  }

  header::-webkit-scrollbar-thumb {
    background-color: #4da6ff; /* Scrollbar thumb color in dark mode */
  }

  th, td {
    color: #e5e5e5; /* Adjust table text color */
  }

  footer {
    background-color: #2c2c2c; /* Dark mode for footer */
    color: #fff;
  }
}
